body {
	margin: 0;
	padding: 0;
	
	font-family: 'PT Sans', Arial sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
}

.body-wrapper {
	position: relative;
	display: flex;
	width: 1200px;
	flex-direction: column;
	padding: 0;
	margin:  0 auto;

	box-shadow: 
	1px 0 5px 1px rgba(0, 1, 1, 0.2),
	-1px 0 5px 1px rgba(0, 1, 1, 0.2);
}

a {
	text-decoration: none;
}

 /*- Стили Хедера -*/

.main-header {	
	display: flex;
	position: relative;
	flex-wrap: wrap;
	flex-direction: row;

	
	margin: 0;
	padding: 0;
	
	background-color: #ffffff;
}


.main-navigation {
	display: flex;
	flex-wrap: wrap;
	

	padding: 0;
	
	background-color: #ffffff;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-left: 72px;
	padding-right: 71px;
	padding-top: 14px;
	padding-bottom: 16px;
	margin: 0;
	
	line-height: 26px;
	font-weight: bold;
	
	list-style: none;
	
	background-color: #ffffff;
}



.sedona-logo {
	position: absolute;
	top: 0;
	left: 530px;
	z-index: 1;
}

.site-navigation a {
	color: #000000;
}

.site-navigation li {
	display: flex;
	wflex-wrap: wrap;
	width: 230px;
	
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}


.info {
	
}

.media {
	margin-left: 11px;
}

	
.full-map {
	margin-left: 112px;
}

.hostel {
	margin-left: 14px;
}

.info,
.media {
	justify-content: flex-start;
}
 
.full-map,
.hostel {
	justify-content: flex-end;
}

a.active {
	color: #766357;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #b3b3b3;
}
 
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

	/*-Стили основного содержания-*/

.welcome-logo {
	position: relative;
	display: flex;
	flex-direction:column;
	align-items: center;
	
	background: url("../img/main-background.jpg") center no-repeat;
	background-size: cover;	
	background-position-y: -83px;
	
	padding-top: 76px;
	padding-bottom: 80px;
}

.welcome-logo::before {
	position:absolute;
	content: "";
	width: 1200px;
	height: 1px;
	background-color: #ffffff;
	bottom: 0px;
	right: 0;
}

.welcome-logo::after {
	position: absolute;
	content: url("../img/background-mask.png");
	bottom: -5px;
	right: -1px;
}

.logo {
	margin-bottom: 0;
}



.intro {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	align-items: center;
	width: 100%;
	

	line-height: 26px;
	text-align: center;
	
	background: #ffffff;
}

.intro h3 {
	flex-wrap: wrap;
	width: 440px;
	
	margin-top: 58px;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;

}

.intro p {
	margin-top: 8px;
	margin-bottom: 50px;
}

.features-section {
	display: flex;
	flex-direction: column;
}

.features-section ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

.secondary-features h3,
.perks h3 {
	font-size: 21px;
	color: #000000;
}
.main-feature {
	color: #ffffff;
	background-color: #81b3d2;
}


.feature1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	padding: 0;
	margin: 0;
	
	order: 1;
}



.feature2 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	
	order: 3;
}

.feature1 img {
	display: block;
	box-sizing: border-box;
}

.feature2 img {
	display: block;
	box-sizing: border-box;
	
	
}
.feature-item {
display: flex;
flex-wrap: wrap;
flex-direction: column;

margin-left: auto;
margin-right: auto;	
}

.feature-item p {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	
	width: 303px;
	
}


.main-feature h3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	
	width: 200px;
	margin-left: auto;
	margin-right: auto;	
} 

.feature1 h3 {
	margin-top: 47px;
}

.feature1 p:first-of-type {
	margin-bottom: 0px;
	margin-top: 2px;
}

.feature1 p:nth-of-type(2) {
	margin-bottom: 0px;
	margin-top: 21px;
}

.feature2 h3 {
	margin-top: 46px;
	margin-bottom: 0px;
}

.feature2 p:first-of-type {
	margin-top: 23px;
	margin-bottom: 0px;
}

.feature2 p:nth-of-type(2) {
	margin-bottom: 0px;
	margin-top: 21px;
}

.secondary-features {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	padding: 0;
	margin: 0;
	
	order: 4;
}

.secondary-features li {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	
	
}

.secondary-features h3 {
	width: 120px;
	
	line-height: 21px;
	font-weight: bold;
	
	margin-top: 47px;
	margin-bottom: 0px;
	padding: 0;
}

.secondary-features p:first-of-type {
	margin-top: 23px;
	margin-bottom: 0;
}

.secondary-features p:nth-of-type(2) {
	margin-top: 21px;
	margin-bottom: 60px;
}

.secondary-features p {
	flex-wrap: wrap;
	justify-content: center;
	width: 250px;
	
}
.square h3 {
	padding-left: 5px;
}

.square p:first-of-type {
	padding-left: 3px;
}

.square p:nth-of-type(2) {
	padding-left: 3px;
}


.road h3 {
	padding-left: 3px;
}

.road p:nth-of-type(2) {
	width: 270px;
	
	padding-left: 1px;
}

.tourists h3 {
	padding-right: 5px;
}

.tourists p:first-of-type {
	padding-right: 4px;
}


.tourists p:nth-of-type(2) {
	width: 250px;
	
	padding-right: 5px;
}


.perks {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
	padding: 0;
	margin: 0;
	
	order: 2;
	
	background-color: #ffffff;
}

.perks li {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	

	padding-left: 0;
	padding-right: 0; 
	
	
}

.perks h3 {
	margin: 0;
	
}

.perks img {
	order: -1;
	

}

.present-description,
.housing-description,
.meal-description {
	display: flex;
	flex-wrap: wrap;
	width: 290px;
	justify-content: center;
	text-align: center;
	
	padding: 0px;
	margin: 0;
	margin-top: 25px;
	/*margin-bottom: 81px;*/
	
	
}

li .housing-image {
	margin-top: 59px;
}

li .housing-title {
	margin-top: 29px;
}

li .housing-description {
	margin-top: 25px;
	margin-bottom: 81px;
}

li .meal-image {
	margin-top: 60px;
}

li .meal-title {
	margin-top: 29px;
}

li .meal-description {
	margin-top: 23px;
	margin-bottom: 83px;
}

 li .present-image {
	margin-top: 56px;
}

li  .present-title {
	padding-left: 2px;
	
	margin-top: 29px;
}

.present-description {
	margin-top: 23px;
	margin-bottom: 83px;
}

.booking {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	line-height: 24px;
	text-align: center;
	
	background: #ffffff;
}

.booking h2 {
	margin-top: 49px;
	margin-bottom: 0px;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.booking p {
	margin-top: 25px;
	margin-bottom: 0;
}

.booking-button {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #766357;
	
	
	border: 0px;
}

.booking-button.main-button {
	display: block;
	box-sizing: border-box;
	width: 568px;
	min-height: 86px;
	
	margin-top: 47px;
	padding-bottom: 1px;
}

.booking-button.hotel-button {
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	
	width: 142px;
	min-height: 27px;
}

.booking-button:hover,
.booking-button:focus {
	background-color:#604e43;
}

.booking-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
} 

.info-button {
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	
	color: #ffffff;
	text-transform: uppercase;
	
	width: 110px;
	min-height: 27px;
	
	background-color: #81b3d2;
	
	border: 0px;
}

.info-button:hover,
.info-button:focus {
	background-color:#669ec0;
}

.info-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel-button {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	
	width: 142px;
	height: 27px;
	
	color: #ffffff;
}


	/*-Стили потапа главной страницы-*/
.form-section{
	position: relative;	
	
}

.booking-form {
	position: absolute;
	right: 316px;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-end;	
	box-shadow: 
	1px 0 5px 1px rgba(0, 1, 1, 0.2),
	-1px 0 5px 1px rgba(0, 1, 1, 0.2);
	
	padding: 55px;
	
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
}

.form-close {
	display: none;
}


.booking-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
}

.booking-item.arrival {
	margin-top: 0;
	margin-bottom: 0;
}

.booking-item.departure {
	margin-top: 29px;
	margin-bottom: 0;
}

.booking-item input {
	display: block;
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	margin-right: 0;
	margin-left:  21px;
	
	text-transform: uppercase;
	line-height: 26px;
	
	
	padding-left: 13px; 
	
	border: 0;
}

.departure input {
	margin-left: 17px;
}

.booking-item input,
.booking-adults input,
.booking-children input {
	font: inherit;
	
	background-color: #f2f2f2;
}

.booking-adults input,
.booking-children input {
	display: block;
	box-sizing: border-box;
	width: 38px;
	height: 38px;
	
	order: 3;
	
	font: inherit;
	text-align: center;
	border: none;
	
	margin: 0;
	padding: 0;
}

.booking-children label {
	margin-left: 54px;
}

.booking-children .minus-button {
	margin-left: 26px;
}

.booking-adults .minus-button {
	margin-left: 40px;
}

.booking-adults lable,
.booking-children lable {
	order: 1;
}

.minus-button {
	order: 2;
	margin-left: 39px;
	position: relative;
}

.minus-button::after {
	content:"";
	position: absolute;
	top: 18px;
	left: 14px;
	
	
	background-color: #cacaca;
	width: 12px;
	height: 3px;
}

.booking-item input:hover {
	background-color: #ebebeb;
	
}

.booking-item input:focus {
	background-color: #ffffff;
	
	outline: 2px solid #e5e5e5;
}



.booking-adults,
.booking-children {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	
}


.minus-button,
.plus-button {
	min-width: 38px;
	min-height: 38px;
	border: 0px;
	background-color: #f2f2f2;
	
	color: #cacaca;
}

.plus-button {
	position: relative;
	order: 4;
}

.plus-button:before,
.plus-button:after {
	content: "";

	position: absolute;
	top: 18px;
	left: 14px;
	
	width: 11px;
	height: 3px;
	
	background-color: #cacaca;
}

.plus-button:before {
	transform: rotate(90deg);
}

.plus-button:hover::before,
.plus-button:hover::after,
.minus-button:hover::after,
.plus-button:focus::before,
.plus-button:focus::after,
.minus-button:focus::after {
	background-color: #000000;
}

.plus-button:active::before,
.plus-button:active::after,
.minus-button:active::after {
	background-color: #81b3d2;
}

.calendar {
	position:absolute;
}

.calendar1 {
	top: 63px;
	right: 64px;
}

.calendar2 {
	top: 130px;
	right: 64px;
}

.booking-wrapper {
	display: flex;
	margin-top: 30px;
	margin-bottom: 0;
	padding: 0;
	
	
}

.booking-wrapper input {
	padding-left: 16px;
}

.calendar:hover path,
.calendar:focus path {
	fill: #000000;
}

.calendar:active path,
.calendar:active path {
	fill: #81b3d2;
}

.submit-button {
	font-size: 21px;
	display: block;
	box-sizing: border-box;
	
	font-weight: bold;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	
	width:458px;
	height: 58px;
	margin-top: 54px;
	
	background-color: #81b3d2;
	
	
	border: 0px;
}

.submit-button:hover,
.submit-button:focus {
	background-color: #669ec0;
}

.submit-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color:#5496bd;
}


.map-section img {
	display: block;
	box-sizing: border-box;
}

	/*-Стили формы выбора гостиницы-*/

.search-form {	
	display: flex;
	flex-direction: row;

	padding-left: 72px;
	padding-right: 72px;
	padding-top: 26px;
	padding-bottom: 32px;	
	
	color: #ffffff;
	
	background: url("../img/form-background.jpg") center no-repeat;
	background-color: #000000;
	margin: 0;
}

.search-form ul {
	list-style: none;
	padding: 0;
}

.hotel-features, 
.hotel-types 	{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
	padding: 0;
	margin: 0;
}

.hotel-features {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 118px;
}

.hotel-features p {
	margin-top: 0;
	margin-bottom: 25px;
}

.search-item.pool {
	margin-top: 0;
	margin-bottom: 25px;
}

.pool label {
	margin-left: 40px;
}



.search-item.net {
	margin: 0;
}

.net label {
	margin-left: 39px;
}

.search-item.parking {
	margin-top: 0;
	margin-bottom: 25px;
}

.parking label {
	margin-left: 39px;
}


.hotel-types {
	
}

.hotel-types p {
	margin-top: 0;
	margin-bottom: 25px;
}

.search-item.inn {
	margin-top: 0px;
	margin-bottom: 25px;
}


.inn label {
	margin-left: 42px;
}

.search-item.motel {
	margin-top: 0px;
	margin-bottom: 25px;
}


.motel label {
	margin-left: 42px;
}

.search-item.apartment {
	margin: 0;
}

.apartment label {
	margin-left: 42px;
}

.search-list {
	position: relative;
	display: flex;
	margin: 0;
	flex-wrap: wrap;
	flex-direction: column;	
}


.search-item  {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	
	margin-bottom: 23px;
}

.search-form p {
	font-weight: bold;
	font-size: 16px;
}


.search-list label::before {
	position: absolute;
	content: url("../img/checkbox-off.svg");

}

input[type="checkbox"]:checked ~ label::before {
	content: url("../img/checkbox-on.svg");
	margin-right: -4px;
}

input[type="checkbox"]:disabled ~ label::before {
	opacity: 0.3;
}


.pool label::before {
	right: 113px;
}

.net label::before {
	right: 113px;
	bottom: -6.5px;
}

.parking label::before {
	right: 113px;
}

.inn label::before {
	right: 113px;
}

.motel label::before {
	right: 113px;
}

.apartment label::before {
	right: 113px;
	bottom: -6.5px;
}

 /*-Стили сложного фильтра-*/

.range-section  {
	width: 318px;
	color: #ffffff;
	
	padding: 0;
	margin-left: auto;
	margin-right: 0;

}

.range-section p {
	margin-bottom: 11px;
	margin-top: 0;

 	font-weight: 600;
 	font-size: 16px;
 	line-height: 21px;
}

.price-controls {
	height: 32px;
	margin-bottom: 20px;
	
	font-size: 0;
	
	border: 2px solid #ffffff;
	border-radius: 2px;
	
	position: relative;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 158px;
	
	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}


.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  padding-top: 4px;

  cursor: pointer;
}

.price-controls .min-price{
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price{
	margin-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	
	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min {
	left: 1px;
}

.range-toggle-max {	
	right: 45px ;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-button {
	display: block;
	margin-left: 85px;
	padding: 6px 35px;
	
	box-sizing: border-box;
	width: 137px;
	height: 36px;
	
  	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	
	background-color: transparent;
	
	border: 2px solid #ffffff;
	border-radius: 2px;
  	cursor: pointer;
}

.range-button:hover,
.range-button:focus {
	color: #000000;
	background-color: #ffffff;
}
	/*-Стили секции отбора результатов поиска-*/
.results {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;	
	position: relative;
	
	font-size: 12px;
	line-height: 18px;
	
	padding-left: 72px;
	padding-top: 29px;
	padding-right: 73px;
	padding-bottom: 22px;
	margin: 0px;
	background-color: #ffffff;

	
}

.results::after {
	content: "";
	width: 1200px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 1px;
	background-color: #cacaca;
}


.results p {
	display: inline;
	margin-top: 6px;
	margin-right: 39px;
	
}

.results ul {
	list-style: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.results h2 {
	font-size: 21px;
	line-height: 26px;
	
	margin: 0px;
	margin-right: 48px;
	margin-bottom: 0;
}


.cost {
	color: #81b3d2;
}

.type,
.rating {
	color: rgba(0, 0, 0, 0.3);
	border-bottom:  1px dotted #81b3d2; 
}

.results-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	
	padding-top: 4px;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	
}

.results-list-item {
	margin-right: 33px;
}

.results-list a:hover,
.results-list a:focus {
	color: #81b3d2;
	border-bottom:  1px dotted #81b3d2;
}

.results-list a:active,
.results-list a:active {
	color: #000000;
	border-bottom: none;
}

.arrows-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	list-style: none;
	margin-top: 6px;
	margin-right: 0;
	margin-bottom: 0;
}

.arrow-up {
	margin-right: 12px;
}

.arrow-up:hover path,
.arrow-up:focus path,
.arrow-down:hover path,
.arrow-down:focus path{
	fill: #000000;
}

.arrow-up:active path,
.arrow-down:active path {
	fill: #81b3d2;
}

	/*-Стили основного содержимого внутренней страницы-*/

.hotels-main {
	display: flex;
	
	font-size: inherit;
	line-height: inherit;
	color: #333333;
	
	background-color: #f2f2f2;
}

.hotels-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	list-style: none;
	padding: 0;
	margin: 0;
}


.hotels-list h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	letter-spacing: 0.3px;
}

.hotels-list a {
	color: #000000;
}

.card-buttons a {
	color: #ffffff;
}

.hotels-list a:hover,
.hotels-list a:focus {
	color: #81b3d2;
}

.hotels-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.card-buttons a:hover,
.card-buttons a:focus {
	color: #ffffff;
}

.card-buttons a:active {
	color: rgba(255, 255, 255, 0.3);
}


.hotels-list-item {
	display: flex;
	position: relative;
	flex-direction: row;
	
	padding-top: 24px;
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 31px;
	
	background-color: #ffffff;
}

.hotels-list-item::after {
	position: absolute;
	bottom: 0;
	right:0;
	content: "";
	width: 1200px;
	height: 1px;
	background-color: #cacaca;
	
}

.hotel-card {
	display: flex;
	flex-direction: column;
	margin-right: 521px;
}

.hotel-card.quail-card {
	margin-right: 520px;
}

.hotel-card.villas-card {
	margin-right: 520px;
}

.hotel-card h2 {
	margin-bottom: 0;
	margin-top: 0;
	
}

.card-description {
	display: flex;
	flex-wrap: wrap;
}

.card-description.amara-description {
	margin-top: 7px;
	margin-bottom: 0px;
}

.card-description p {
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.amara-description p:first-of-type {
	margin-right: 39px;
}

.quail-description p:first-of-type {
	margin-top: 7px;
	margin-right: 64px;
}

.quail-description p:nth-of-type(2) {
	margin-top: 7px;
}

.villas-description {
	margin-top: 7px;
}

.villas-description p:first-of-type {
	margin-right: 21px;
}

.card-buttons {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 0px;
}

.card-buttons.amara-buttons {
	margin-top: 15px;
}

.card-buttons.quail-buttons {
	margin-top: 15px;
}

.villas-buttons {
	margin-top: 15px;
}

.card-buttons .info-button {
	margin-right: 6px;
}
	 
.raiting-box {
    display: block;
	padding-left: 3px;
    margin-left: 1px;
    padding-top: 3px;
    margin-top: 41px;
    font-size: 14px;
    line-height: 21px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 110px;
    height: 27px;
    text-align: center;
    margin-bottom: 0;
}

.quail-box {
	margin-left: 0px;
	padding-left: 2px;
	margin-right: 1px;
}

.villas-box {
	margin-left: 0px;
	padding-left: 3px;
	margin-right: 1px;
}

.star-section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;


	margin-left: auto;
	margin-right: 0;
}

.star-list {
	list-style: none;
	
	display: flex;
	flex-direction: row;
	padding: 0;
	padding-top: 5px;
	
}

.quail-star {
	flex-direction: row-reverse;
}

.villas-star {
	flex-direction: row-reverse;
}

.star-list.amara-star {
	justify-content: flex-start;
	padding-left: 22px;
}

.amara-star li:nth-of-type(2) {
	margin-left: 6px;
}

.amara-star li:nth-of-type(3) {
	margin-left: 7px;
}

.amara-star li:last-of-type {
	margin-left: 5px;
}

.quail-star li:first-of-type {
	margin-left: 5px;
}

.quail-star li:nth-of-type(2) {
	margin-left: 6px;
}

.villas-star li:first-child {
	margin-left: 5px;
}

.hostel-photo {
	margin-left: 0px;
	padding-top: 6px;
	margin-right: 30px;
}


	/*-Стили футера-*/

.main-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	
	padding-top: 30px;
	padding-bottom: 32px;
	padding-left: 124px;
	margin-bottom: 0px;
	padding-right: 101px;
	
	background-color: rgba(255, 255, 255, 0.9);
		
	
}

.main-footer.index-footer {
	position: absolute;
	bottom: 0;
}

.hotel-footer.main-footer {
	background-color: rgba(254, 254, 254, 0.9);
	padding-left: 129px;
	padding-right: 0px;
}

.footer-contacts {
	display: block;
	box-sizing: border-box;
	margin-top: 0;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	
	color: #000000;
}

.footer-contacts p:first-of-type {
	margin-top: 0;
	margin-bottom: 6px;
}

.footer-contacts p:last-of-type {
	margin: 0;
}

.footer-social {
	display: flex;
  	width: 150px;
	flex-wrap: wrap;
  	justify-content: space-between;
	
	list-style: none;
  	padding: 0;
	
	margin-left: 177px;
	margin-top: 2px;
	margin-bottom: 0px;
	
}

.social-button {
	display: flex;
	width: 46px;
	height: 48px;
	
	background-color: #81b3d2;
	
	align-items: center;
  	justify-content: center;
}


.social-button:hover,
.social-button:focus {
 	background-color: #669ec0; 
}

.social-button:active {
	background-color: #5496bd;
	
}


.social-button:active svg {
	opacity: 0.3;
}
	
.hotel-footer .footer-social {
	margin-left: 172px;
}

.footer-copyright {
	display: flex;
	flex-wrap: wrap;
	
	margin-top: 9px;
	margin-left: 228px;
	
	line-height:  26px;	
}

.footer-copyright p {
	margin-top: 7px;
	margin-right: 8px;
}

.hotel-footer .footer-copyright {
 margin-left: 229px;
}

.copyright-logo:hover path,
.copyright-logo:focus path {
	fill: #81b3d2;
}

.copyright-logo:active path {
	fill: #bdbbbc;
}





















